#! /bin/bash

# Setup git config, stuff and a lot of apps
# Run without downloading:
# bash <(curl -s https://raw.githubusercontent.com/JdeJ/dotfiles/master/git/.gitconfig)

echo -e "\n\n==> Setting Git"

echo -e "\n> Creating global .gitconfig"
curl https://raw.githubusercontent.com/JdeJ/dotfiles/master/git/.gitconfig-global --output tiroriro --silent

echo -e "\n> Creating global .gitignore"

echo -e "\n> Adding git profiles"

echo -e "\n> Generating git ssh keys"
